.section-collection-categoty .category-image-section svg.placeholder-svg {
  width: 100%;
  height: 20%;
  background: rgba(var(--color-base-accent-3), 0.5);
}

.section-collection-categoty .category-image-section>* {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
  height: 100%;
  row-gap: var(--grid-desktop-horizontal-spacing);
}

.category-image-section-one>*, .category-image-section-two>*, .category-image-section-three>* {
  display: flex;
  position: relative;
}

.section-collection-categoty .category-image-section-one img, .section-collection-categoty .category-image-section-two img, .section-collection-categoty .category-image-section-three img {
  width: 100%;
}

.section-collection-categoty .category-image-section>div>div>h2.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
.collection-categoty :is(.category-image-section) .collection_img_section_1 a.title {
    opacity: 1;
    margin: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.collection-categoty :is(.category-image-section-one, .category-image-section-two, .category-image-section-three) a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.collection-categoty :is(.category-image-section) .collection_img_section_1 h2.title {
  transition: all var(--duration-default) linear; padding: 0 10px 10px;
}

.collection-categoty :is(.category-image-section) .collection_img_section_1 a {
  opacity: 0;
}

.collection-categoty :is(.category-image-section) .collection_img_section_1:hover a {
  opacity: 1;
}

.collec-sec-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  height: 100%;
  row-gap: var(--grid-desktop-horizontal-spacing);
}

.collec-sec-1 .collection_img_section_1 h2.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.collec-sec-1 .collection_img_section_1 {
  position: relative;
  display: flex;
}

.collections-sec-content {
  width: 100%;
}

.collections-sec-content h2.title {
  margin: 1rem 0;
  color: rgba(var(--color-base-text), 1);
}

.category-image-section-two .collection-button-section a.button {
  position: relative;
  bottom: 0;
  letter-spacing: normal;
}

.section-collection-categoty .category-image-section>div>div.collections-sec-content h2.title {
  position: relative;
  bottom: 0;
}

.collection-categoty :is(.category-image-section) .collection_img_section_1 a {
  letter-spacing: normal;
}

.collection-categoty :is(.category-image-section-one, .category-image-section-two, .category-image-section-three) a.collection-link {
  position: relative;
  opacity: 1;
  bottom: 0;
  display: flex;
}
.section-collection-categoty .category-image-section .collec-sec-1 a.title {
    margin: 0;
    bottom: 0;
}

.collection-categoty :is(.category-image-section) .collection_img_section_1 h2.title {text-decoration: underline 0.25rem rgba(var(--color-foreground),1);}
@media screen and (min-width: 750px){
  .section-collection-categoty .category-image-section .collection_img_section_1:hover h2.title,
  .collec-sec-1 .collection_img_section_1:hover h2.title,
  .collection-categoty :is(.category-image-section) .collection_img_section_1:hover a.title {
    bottom: 70px;
  }
  .section-collection-categoty .category-image-section .collec-sec-1 .collection_img_section_1:hover a.title{
    bottom: 30px;
  }
  .section-collection-categoty .category-image-section>div>div>h2.title,
  .section-collection-categoty .category-image-section .collec-sec-1 .collection_img_section_1 a.title{
    bottom: 10px;
  }  
  .collec-sec-1 .collection_img_section_1 h2.title{
      bottom: 10px;
  }
  .collection-categoty :is(.category-image-section) .collection_img_section_1 a.button{
  transition: all var(--duration-default) linear;
    padding: 4px 50px;
    transition: all var(--duration-default) linear;
    background: rgba(var(--color-base-background-1),1);
    color: var(--gradient-base-accent-1);
}
.collection-categoty :is(.category-image-section) .collection_img_section_1 a.button:hover{
  background-color: rgba(var(--color-hover-button),var(--alpha-button-background));
  color: var(--gradient-base-background-1);
}
}
@media screen and (max-width: 1023px) {
  .collection-categoty :is(.category-image-section-one, .category-image-section-two, .category-image-section-three) a {
    bottom: 10px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1023px) {
  .collection-categoty :is(.category-image-section) .collection_img_section_1 h2.title {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 749px) {
  .collection-categoty :is(.category-image-section) .collection_img_section_1 .button.button--primary{ opacity:0;display:none;}
  .collection-categoty :is(.category-image-section) .collection_img_section_1 h2.title{bottom:15px;}
   .collection-categoty :is(.category-image-section) .collection_img_section_1:hover .button.button--primary{ opacity:1;}
  .collection-categoty :is(.category-image-section) .collection_img_section_1 a:hover{ color:rgb(var(--color-base-outline-button-labels)); }
.collection-categoty :is(.category-image-section) .collection_img_section_1 h2.title{ font-size:2.2rem;} }
@media screen and (min-width: 577px) {
  .section-collection-categoty .category-image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--grid-desktop-horizontal-spacing);
  }
}
@media screen and (max-width:749px) {

  .section-collection-categoty .category-image-section>div>div>h2.title,
  .collec-sec-1 .collection_img_section_1 h2.title {
    bottom: 30px;
  }

  .collections-sec-content, .collection-button-section {
    display: none;
  }

  .section-collection-categoty .category-image-section>* {
    row-gap: calc(var(--grid-desktop-horizontal-spacing) - 15px);
  }

  .section-collection-categoty .category-image-section, .collec-sec-1 {
    row-gap: calc(var(--grid-desktop-horizontal-spacing) - 15px);
    column-gap: calc(var(--grid-desktop-horizontal-spacing) - 15px);
  }
  

  

  .collection-categoty :is(.category-image-section) .collection_img_section_1 a {
    opacity: 1;
    background: transparent;
    height: auto;
    min-height: 5rem;
    bottom: 15px;;
  }
}
@media screen and (max-width: 576px) {
  .section-collection-categoty .category-image-section>* {
    width: 100%;
    max-width: 100%;
  }

  .collec-sec-1 {
    row-gap: calc(var(--grid-desktop-horizontal-spacing) - 15px);
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .section-collection-categoty .category-image-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .section-collection-categoty .collection_img_section_1 {
    height: 18rem;
  }

  .section-collection-categoty .category-image-section>div>div>h2.title, .collec-sec-1 .collection_img_section_1 h2.title {
    bottom: 60px;
  }
  .collection-categoty :is(.category-image-section) .collection_img_section_1 a {

    bottom: 15px;
  }
}

