.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-list-title {
  margin: 0;
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

/* @media screen and (max-width: 749px) {
  .collection-list.slider .collection-list__item {
    max-width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
    width:calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
  }
} */
@media screen and (max-width: 576px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
    width:100%;
  }
}
.collection-list-view-all {
  margin-top: 2rem;
}
#collections .collection-list .card-wrapper .card__inner .card__content {
    display: none;
}
#collections .collection-list .card--card.card--media:hover > .card__content {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}


#collections .collection-list .card .icon-wrap {
  display: none;
}
#collections .collection-list .card__information .card__heading,
.product-page-collection-list.collection-list .card__information .card__heading{
 /* font-size: 1.6rem;
  font-weight: 500;
    */
  font-size: 12px; 
 margin: 0 ; 
font-style: normal;
font-weight: 700;

letter-spacing: 3px;
text-transform: uppercase;
}
.collection-list .card__information  .collection_product_count{margin:5px 0 0; opacity:0.8;}
#collections
  .collection-list
  .card--card.card--media:hover
  > .card__content
  .card__information {
  border-radius: var(--border-radius);
}
.collection-list .card {
  background: transparent;
}
.collection-list.grid .collection-list__item .card__content {padding:20px 0;position:relative;}
.collection-list .card-wrapper .card__inner{height: 100%; position: relative;}
.collection-list.overlay .collection-list__item .card__content {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    display:block;
    margin: auto;
    width: fit-content;
    height: fit-content;
    transition:all 0.3s linear;
    padding:0;
}
.collection-list3 .collection-list.overlay .collection-list__item .card-wrapper .card:hover .card__content {transform:translateY(20px);}
.card:not(.ratio)>.card__content{     padding: 4rem 0; }
.collection-list.overlay  .collection-list__item .card__content .card__information{
  background: var(--gradient-base-background-1);
  padding: 10px;
  border-radius: var(--border-radius);
  text-align: center;
  text-transform: capitalize;
  left: auto;
  right: auto;
  position: relative;
  margin:  0 10px;
  bottom: 0px;
}
#collections .card__content{ justify-items: center; }
#collections ul.collection-list.overlay  li.collection-list__item .card__content .card__information p.card__caption{display:none;}
#collections ul.collection-list.overlay  li.collection-list__item .card__content .card__information a.button.button--primary{display:none;}
#collections ul.collection-list li.collection-list__item .card__content .card__information a.button.button--primary{margin-bottom:0; margin-top:15px;}
.section-collection-list .collection-list .collection-list__item a.button.button--primary{    background: transparent; color: rgb(var(--color-foreground)); padding: 0; margin: 0; min-width: fit-content; min-height: fit-content; transition:all var(--duration-default) linear; }
.section-collection-list .collection-list .collection-list__item a.button.button--primary:hover { color: rgb(var(--color-base-outline-button-labels));}
.collection-list.collection-list1   .card__information .card__heading a{ font-weight:500; font-size:2rem;}
.collection-list.collection-list1 .collection-list__item .card__content .card__information{ text-align:left; }
.section-collection-list .collection-list .card__inner.image-circle  { border-radius: 50%; width: 100%;}
.section-collection-list .collection-list .card__inner.image-circle .card__media { border-radius: 50%; width: 100%;}
@media screen and (min-width: 481px) {
.product-page-collection-list.collection-list .swiper-pagination{display:none;}
}
@media screen and (max-width: 480px) {
.product-page-collection-list .collection-list.overlay  .collection-list__item .card__content .card__information{  max-width: 90px;  width: 90px;}
.product-page-collection-list.collection-list .swiper-button-next, .product-page-collection-list.collection-list .swiper-button-prev{display:none;}
.product-page-collection-list.collection-list .swiper{padding-bottom:20px;}
.product-page-collection-list.collection-list .swiper-pagination{bottom:0px}  
#collections .collection-list .card__information .card__heading, .product-page-collection-list.collection-list .card__information .card__heading{font-size:1.4rem;}
}
}

@media screen and (min-width: 768px) {
.collection-list1 .card{ padding:10px;} }
.collection-list2 .collection-list.overlay .collection-list__item .card__content .card__information .card__heading a:hover{ background-color:var(--gradient-base-accent-1); color:var(--gradient-base-background-1);}

.collection-list2 .card__information .card__heading a{ font-size:12px; text-transform:uppercase; letter-spacing:3px;}
.collection-list2 .collection-list.overlay .collection-list__item .card__content .card__information .card__heading a{ font-weight:700;  padding:15px 40px; }
.collection-list2 .collection-list.overlay .collection-list__item .card__content .card__information{  padding:0; }
.collection-list2 .card__information .card__heading{ margin-bottoM:0; }
.collection-list.collection-list1 .collection-list__item .card__content .card__information a.button.button--secondary{ margin-top:2rem; padding:0 30px;}
.collection-list3 .collection-list.overlay .collection-list__item .card-wrapper .card:hover .card__content { transform:none; padding: 30px 0 50px 0;}
.collection-list3 .collection-list.overlay .collection-list__item .card-wrapper .card:hover .card__content .card__information .button{ opacity:1; visibility:visible; transform:translateY(20px); }
.collection-list3 .collection-list.overlay .collection-list__item .card__content .card__information .button{ opacity:0; visibility:hidden; transform:translateY(40px);}
.collection-list3 .card__information .card__heading a{ font-size:4rem;      max-width: 30rem;   font-weight:700;}
.collection-list3 .collection-list.overlay .collection-list__item .card__content{background-color: rgb(255,255,255, 0.8);}
.collection-list3 .collection-list.overlay .collection-list__item .card__content .card__information{ bottom:0;}
.collection-list3  .collection-list.overlay .collection-list__item .card__content .card__information{ background:transparent; }
.collection-list3  .collection-list.overlay .collection-list__item .card-wrapper .card .card__information .card__heading{ transform: translateY(25px); }
.collection-list3  .collection-list.overlay .collection-list__item .card-wrapper .card:hover  .card__information .card__heading{ transform: translateY(0); }
.collection-list3  .collection-list.overlay .collection-list__item .card-wrapper .card .card__content{ overflow:hidden;}
.collection-list3 .collection-list.overlay .collection-list__item .card__content{ overflow:hidden;}
.collection-list3 .collection-list.overlay .collection-list__item .card__content{ bottom:10px; width:95%;}
.collection-list3 .collection-list.overlay .collection-list__item .card-wrapper .card .card__information .card__heading{ margin-bottom:0;}
.collection-list3 .collection-list.overlay .collection-list__item .card__content .card__information .button{ margin-bottom:0;}
@media screen and (min-width:1200px) and (max-width: 1439px) {
.collection-list3 .card__information .card__heading a{ font-size:3rem;} }

@media screen and (min-width:768px) and (max-width: 1199px) {
.collection-list3 .card__information .card__heading a{ font-size:2.2rem;} }
@media screen and (max-width:1199px) {
 .collection-list3  .collection-list.overlay .collection-list__item .card__content .card__information{ padding:10px 5px;}
  .custom-collection-list3 .card__information .card__heading{ font-size:2rem;}
.collection-list.custom-collection-list3 .card-wrapper  .card .card__inner .card__media .button.button-primary{    padding: 16px 30px; }
  .custom-collection-list3 .card:not(.ratio)>.card__content{ padding-top:2rem;}
}

.custom-collection-list3 .card:not(.ratio)>.card__content{ padding:4rem 0 2rem 0; }

@media screen and (min-width:750px) and (max-width:1640px) {
.collection-list.custom-collection-list3 .title-wrapper-with-link .title{ padding:0 20px;} }
@media screen and (min-width:1200px) {
  .custom-collection-list3 .card__information .card__heading{ font-size:2.4rem;}
  .custom-collection-list3 .card:not(.ratio)>.card__content{ padding-top:3rem;}
.collection-list.custom-collection-list3 .card-wrapper  .card .card__inner .card__media .button.button-primary{    padding: 16px 60px; }  }
.collection-list.custom-collection-list3 .card-wrapper  .card .card__inner .card__media .button.button-primary{     position: absolute;
    bottom: 3rem;
    left: 0;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    right: 0;                                                                                                         
    z-index: 1; 
     opacity:0;   
     min-height: auto;
    min-width: auto;
    width: fit-content; }
.collection-list3 .collection-list.overlay .collection-list__item .card__content{ position:absolute; max-height:30rem; height:auto;top:auto;}
.collection-list.custom-collection-list3 .card-wrapper:hover  .card .card__inner .card__media .button.button-primary{    
    bottom: 6rem;
     opacity:1; }
@media screen and (min-width:768px) {
.collection-list.custom-collection-list3 .title-wrapper-with-link{ max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;  } }
/* @media screen and (max-width:1199px) {
.collection-list.custom-collection-list3 .title-wrapper-with-link{ padding:0 3rem;} } */

@media screen and (min-width:320px) and (max-width: 767px) {
.collection-list3 .card__information .card__heading a{ font-size:2rem;} }

@media screen and (min-width:1540px) {
.collection-list.collection-list2{ width: 79%;
    margin: 0 auto; } }
@media screen and (max-width:989px) {
  .AjaxinateContainer.collection-list.overlay{ justify-content:center;}
}
@media screen and (min-width:481px) and (max-width:989px) {
.collection .grid--4-col-desktop .grid__item{     width: calc(50% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 2 / 3); } }

@media screen and (min-width:990px) and (max-width:1199px) {
.collection .grid--4-col-desktop .grid__item{       width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
    max-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3); } }
@media screen and (max-width:480px) {
.collection .grid--4-col-desktop .grid__item{ width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);
    max-width: calc(100% - var(--grid-mobile-horizontal-spacing) / 2);} }
.collection-list.overlay .collection-list__item .card__content{ justify-content:center;}
.collection .collection-list.overlay .collection-list__item .card__content .card__information .full-unstyled-link{ padding:15px 20px; }
.collection .collection-list.overlay .collection-list__item .card__content .card__information{ padding:0; width:fit-content;}
.collection-list.collection-list1 .collection-list__item .card__content .card__information .card__caption{ margin-top:0;     color: var(--gradient-base-accent-2); }
.collection .collection-list.overlay .collection-list__item .card__content .card__information:hover .card__heading a{ color:var(--gradient-base-background-1); }
.collection .collection-list.overlay .collection-list__item .card__content .card__information{ transition:all 0.3s linear;}
.collection .collection-list.overlay .collection-list__item .card__content .card__information:hover{     background-color: var(--gradient-base-accent-1);}

.collection-list.collection-list3 .card-wrapper:hover .card__media .media .motion-reduce.loaded-image:first-child {     filter: brightness(0.95) blur(0); transform:scale(1.1); }
.collection-list.collection-list1   .card__media .media .motion-reduce{     transition: .6s ease-in-out;
    transform: scale(1.04);
    transform-origin:right;}
.collection-list.collection-list1   .card__media .media .motion-reduce.loaded-image:first-child:hover{     transform-origin:left; }

.collection-list.collection-list2 .card__media .media .motion-reduce.loaded-image{ cursor:pointer;}
.collection-list.collection-list2 .card__media .media .motion-reduce.loaded-image:first-child{     transform: scale(1.05); }
.collection-list.collection-list2 .card-wrapper:hover .card__media .media .motion-reduce.loaded-image:first-child{ filter: brightness(1.03) blur(0);
    transform: scale(1); }

.collection-list .swiper-pagination.swiper-pagination-progressbar.swiper-pagination-horizontal { max-width: 90%; margin: auto; width: 100%; height: 2px; position: relative; margin-top: 40px;}
 .collection-list.collection-list1 .card .card__inner .card__media{ position:relative;}
/* .collection-list.collection-list1 .card__media:hover:before, .collection-list.collection-list1 .card__media:hover:after  {     -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    -webkit-transition-duration: 1.3s;
    transition-duration: 1.3s; } */

.collection-list.collection-list1 .card__media:after{ 
    bottom: 0;
    right: 0;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
}
/* .collection-list.collection-list1 .card__media:before, .collection-list.collection-list1 .card__media:after{     top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    pointer-events: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: top left;
    transform-origin: top left;}  */


@media screen and (min-width:990px) {
.collection-list.collection-list1 .collection-list{ cursor: initial; }
}
@media screen and (min-width:768px) and (max-width:989px) {
.collection-list.collection-list1 .title-wrapper-with-link{ margin-bottom:6rem; } }